img{
    width: height;
}
.Product_wrap{
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    place-items: center;
}
.Product {
    background-color: beige;
    width: 90%;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(116, 98, 98);
    margin: 10px;

}
.Product img{
   /* min-width: none; */
    max-height: 200px;
}
.Product p{
    color: #cd902c;
}
.Product button{
    background-color: #cd902c;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
